port {{ redis_port  }}
cluster-enabled yes
cluster-config-file {{ redis_data_dir }}/{{ redis_port }}/nodes.conf
dir {{ redis_data_dir }}/{{ redis_port }}
pidfile {{ redis_run_dir }}/node_{{ redis_port }}.pid
logfile {{ redis_log_dir }}/node_{{ redis_port }}.log
cluster-node-timeout 5000
daemonize no
appendonly yes

# MAKE INTERFACE UNSECURE !!
protected-mode no
