port {{ item  }}
cluster-enabled yes
cluster-config-file {{ redis_data_dir }}/{{ item }}/nodes.conf
dir {{ redis_data_dir }}/{{ item }}
pidfile {{ redis_run_dir }}/node_{{ item }}.pid
logfile {{ redis_log_dir }}/node_{{ item }}.log
cluster-node-timeout 5000
daemonize yes
appendonly yes
